<!DOCTYPE html>
<html lang="en">
<!-- ignore this internal css for now this is to create visualisation to understand table.-->
<style>
    table,th,td{
        border:1px solid black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
</head>

<body>

    <!-- Tables are usually used to organised table contents. Not commonly used for website layouts design-->
    <table>
        <!-- declaration of table rows -->
        <tr>
            <!-- declaration of table header -->
            <th>Pet</th>
            <th>Color</th>
            <th>Food</th>
        </tr>
        <tr>
            <!-- declaration of table data -->
            <td>Bird</td>
            <td>Dark Blue</td>
            <td>Seeds</td>
        </tr>


    </table>
</body>

</html>